aniso8601==7.0.0
Click==7.0
Flask==1.1.1
Flask-Cors==3.0.8
Flask-GraphQL==2.0.1
Flask-SocketIO==4.2.1
graphene==2.1.8
graphql-core==2.3.1
graphql-relay==2.0.1
graphql-server-core==1.2.0
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
namesgenerator==0.3
promise==2.3
python-engineio==3.11.2
python-socketio==4.4.0
Rx==1.6.1
six==1.14.0
sortedcontainers==2.1.0
Werkzeug==1.0.0
